body {
    font-family: sans-serif;
}
header img{
    width: 204px;
    height: 80px;
}
.itzy{
    width: 577px;
    height: 308px;
    border: 1px solid white;
    border-radius: 21px;
    float: left;
    display: block;
}
.qwerty1{
    display: block;
    width: 200px;
}
.qwerty2{
    background-color: skyblue;
    display: block;
    width: 400px;
    float: left;
    font-size: 18px;
    padding: 10px 10px 25px 10px;
    border-radius: 10px;
    margin: 5px 5px 20px 5px;
    
}
.chois h2{
    display: block;
    text-align: center;
}
main a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    justify-content: space-between;
    padding: 110px;    
}
main a:hover{
    color: skyblue;
    text-decoration: underline;
}
footer{
    width: 920px;
    height: 128px;
    background-color: rgb(201, 63, 63);
    padding: 15px 15px 20px 15px;
    border: 1px solid white;
    border-radius: 14px;
}
footer p{
    margin-top: 15px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 24px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;

}
